/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/header";    
@import "layout/footer";    
 
body {
    box-sizing: border-box;
    background-color: $neutral_lvl_2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 68px 16px 0 16px;
}
main {
    width: 100%;
    max-width: 540px;
}
.chart-header {
    background-color: $prim_1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 24px 20px;
    border-radius: 10px;
    margin-bottom: 18px;
}
.chart-header__summary p {
    display: block;
    color: $neutral_lvl_1;
    &:first-of-type {
        font-weight: 700;
        font-size: 15px;
        letter-spacing: -0.4px;   
        padding-bottom: 10px;     
        padding-top: 6px;     
    }    
    &:last-of-type {
        font-weight: 700;
        font-size: 24px;
    }
}
.chart-header__brand {
    width: 60px;
    padding-right: 3px;
    padding-top: 10px;
    img {
        width: 100%;
    }
}
.chart-body {
    border-radius: 10px;
    // height: 421px;
    background-color: $neutral_lvl_1;
    padding: 28px 12px;    
}
h2 {
    padding-left: 9px;
}
.chart-body__graph {
    margin-bottom: 10px;
}
canvas {
    width: 100%;    
}
.chart-body__summary {
    padding: 26px 8px 0px 8px;
    border-top: 2px solid $neutral_lvl_2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart-body__summary_total p {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.3px;   
    // padding-bottom: 10px;     
    // padding-top: 6px;  
    &:first-of-type {
        margin-bottom: 12px;
        color: $neutral_lvl_3;
    }
    &:last-of-type {
        font-size: 30px;
    }
}
.chart-body__summary_growth {
    align-self: flex-end;
}
.chart-body__summary_growth p {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.3px;
    text-align: right;
    &:first-of-type {
        padding-bottom: 4px;
    }   
    &:last-of-type {
        color: $neutral_lvl_3;
    }   
}


@media screen and (min-width: 376px) {    
    body { 
        padding: 182px 16px 0 16px;       
    }
    .chart-header {
        padding: 30px;
        border-radius: 18px;
        margin-bottom: 24px;
    }
    .chart-header__summary p {        
        &:first-of-type {
           font-size: 18px;
            // letter-spacing: -0.4px;   
            padding-bottom: 15px;     
            padding-top: 0;     
        }    
        &:last-of-type {
            font-size: 32px;
        }
    }
    .chart-header__brand {
        width: 72px;
        padding-right: 8px;
        padding-top: 5px;        
    }
    .chart-body {
        border-radius: 18px;
        padding: 36px 30px;
    }
    .chart-body__graph {
        margin-bottom: 16px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    canvas {
        font-size: 15px;
    }
    .chart-body__summary {
        padding: 36px 8px 8px 8px; 
    }
    .chart-body__summary_total p {
        font-size: 18px;                  
        &:first-of-type {
            margin-bottom: 12px;
        }
        &:last-of-type {
            font-size: 50px;
        }
    }
    .chart-body__summary_growth p {        
        font-size: 18px;
        letter-spacing: -0.4px;
        padding-right: 2px;
        &:first-of-type {
            padding-bottom: 6px;
        }   
        &:last-of-type {
            padding-bottom: 6px;
        }   
    }
}